name: Release

on:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: dver
            asset_name: dver-linux-amd64
          - os: windows-latest
            artifact_name: dver.exe
            asset_name: dver-windows-amd64.exe
          - os: macos-latest
            artifact_name: dver
            asset_name: dver-macos-amd64

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      run: rustup update stable && rustup default stable

    - name: Build
      run: cargo build --release --verbose
    
    - name: Rename binary
      shell: bash
      run: |
        mv target/release/${{ matrix.artifact_name }} ${{ matrix.asset_name }}
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset_name }}
        path: ${{ matrix.asset_name }}

  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get version from Cargo.toml
        id: get_version
        run: |
          version=$(grep '^version' Cargo.toml | sed 's/.*= *//' | sed 's/"//g')
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Create source code archive
        run: |
          git archive --format=zip --output=source-code.zip HEAD

      - name: Create Release and Upload Assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v${{ env.VERSION }} \
            --title "v${{ env.VERSION }}" \
            --generate-notes \
            artifacts/*/* source-code.zip
